main{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
article{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 50%;
	justify-content: space-around;
}
.main{
	background-color: blue;
	border-radius: 20px;
	border: 3px solid black;

}
section{
	display: flex;
	flex-direction: column;
	width: 50%;
	
}
article{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
figure{
	background-color: white;
	border-radius: 10px;
	width: 50%;
	display: flex;
	justify-content: center;
	border: 3px solid black;
}
img{
	width: 90%;
}
.gauche{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.gauche p{
	flex-basis: 40%;
	
}
.gauche .info{
	background-color: white;
	border-radius: 20px;
}
.droit{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.basdroit{
	border: 3px solid black;
	background-color: white;
	display: flex;
	flex-direction: column;
	border-radius: 20px;

}
.basdroit header{
	border-bottom: 3px solid black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.basdroit header p {
	width: 50%;
}
