main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 5px;
    border-radius: 20px;
    background-color: blue;
    color: white;
}
.section {
    color: black;
}
/*placer logo à côté de "carte d'embarquement" */
img.logo {
    width: 100px;
    height: auto;
     
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
}
